[Unit]
Description=Radio-VNC auto USB

[Service]
User=pi
WorkingDirectory=/usr/bin
ExecStart=radiovnc-autousb
Restart=always

[Install]
WantedBy=multi-user.target
