[Desktop Entry]
Type=Application
Name=Gqrx
GenericName=Software Defined Radio
Comment=Software defined radio receiver implemented using GNU Radio and the Qt GUI toolkit
Exec=gqrx
Terminal=false
Icon=gqrx
Categories=Network;HamRadio;
Keywords=SDR;Radio;HAM;
